@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.problem_card {
  border-radius: 12px;
  color: $gray-900;
  background: $color-white;
  box-shadow: $elevation-02;
  overflow: hidden;
  flex-shrink: 0;

  &.active {
    border: 3px solid #00abff;
  }

  .card_header {
    min-height: 52px;
    background: $gray-100;
    padding: 12px 16px 12px 28px;
    display: flex;
    align-items: center;
    color: $gray-900;
    justify-content: space-between;
  }
  .card_header_title_group {
    display: flex;
    align-items: center;
    gap: 32px;
    word-break: keep-all;
  }
  .card_header_button_group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .card_index {
    @include typo-h4;
  }

  .card_body {
    padding: 16px 16px 31px 16px;
    display: flex;
    gap: 15px;
  }
  .card_body_badge_group {
    gap: 4px;
    @include flex-column;
  }
  .card_problem_image_box {
    width: 100%;
    object-fit: contain;

    & img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
