@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.wrap {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
}
.container {
  width: 100%;
  max-width: $max-container-width;
  min-width: $min-container-width;
  margin: 0 auto;
  padding: 14px 24px;
  display: flex;
  gap: 16px;
  overflow: hidden;

  & [class*="_problems_list"] {
    padding: 17px 16px 16px 16px;
    border-radius: 12px;
    overflow-y: auto;
    @include flex-column;
  }

  @include max-tablet {
    & [class*="_problems_list"] {
      flex: 1 1 0;
    }
  }
}
.similar_problems_list {
  flex: 1 1 504px;
  background-color: #e8e8e8;

  & .empty_worksheet_wrap {
    color: $gray-900;
  }
}
.basic_problems_list {
  padding-bottom: 0;
  flex: 1 1 712px;
  background: $gray-800;
  color: $color-white;

  & .empty_worksheet_wrap {
    color: $color-white;
  }
}

.empty_worksheet_wrap {
  margin: auto;
  text-align: center;
  gap: 2px;
  @include flex-column-center;

  .button_view {
    margin-right: 6px;
    height: 24px;
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    gap: 1px;
    background: $color-white;
    color: #959595;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    border-radius: 2px;
    border: 0.6px solid $gray-400;
  }

  .button_view_icon {
    width: 10px;
    height: 10px;
  }
}

.worksheet_title {
  @include typo-body1;
}

.worksheet_list_wrap {
  flex: 1;
  margin-top: 16px;
  gap: 16px;
  overflow-y: auto;
  @include flex-column;
}

.worksheet_card {
  border-radius: 12px;
  color: $gray-900;
  background: $color-white;
  box-shadow: $elevation-02;
  overflow: hidden;

  &.active {
    border: 3px solid #00abff;
  }

  .card_header {
    height: 52px;
    background: $gray-100;
    padding-left: 28px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    color: $gray-900;
    justify-content: space-between;
  }
  .card_header_title_group {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .card_header_button_group {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .card_index {
    @include typo-h4;
  }
}
