@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.wrap {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
}
.container {
  width: 100%;
  max-width: $max-container-width;
  min-width: $min-container-width;
  margin: 0 auto;
  padding: 14px 24px;
  display: flex;
  gap: 16px;
  overflow: hidden;

  & [class*="_problems_list"] {
    padding: 17px 16px 16px 16px;
    border-radius: 12px;
    overflow-y: auto;
    @include flex-column;
  }

  @include max-tablet {
    & [class*="_problems_list"] {
      flex: 1 1 0;
    }
  }
}
.similar_problems_list {
  flex: 1 1 504px;
  background-color: #e8e8e8;

  & .empty_problem_wrap,
  & .problem_title {
    color: $gray-900;
  }
}
.basic_problems_list {
  padding-bottom: 0;
  flex: 1 1 712px;
  background: $gray-800;
  color: $color-white;

  & .empty_problem_wrap {
    color: $color-white;
  }
}

.empty_problem_wrap {
  margin: auto;
  text-align: center;
  gap: 2px;
  @include flex-column-center;

  .button_view {
    margin-right: 6px;
    height: 24px;
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    gap: 1px;
    background: $color-white;
    color: #959595;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    border-radius: 2px;
    border: 0.6px solid $gray-400;
  }

  .button_view_icon {
    width: 10px;
    height: 10px;
  }
}

.problem_title {
  @include typo-body1-bold;
}

.problem_list_wrap {
  flex: 1;
  margin-top: 16px;
  gap: 16px;
  overflow-y: auto;
  @include flex-column;

  /* 스크롤바 숨김 */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.problem_list_footer {
  height: 64px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  color: $gray-500;
  @include typo-body1-regular;

  & .total {
    color: $color-white;
    @include typo-body1-bold;

    &.no_problem {
      color: $color-error;
    }
  }
}
