@import "./styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

  h1 {
    color: $primary-color;
    margin-bottom: 1rem;
  }

  p {
    color: $text-color;
    font-size: 1.2rem;
  }
}
