@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card_badge {
  width: 40px;
  height: 20px;
  border-radius: 4px;
  opacity: 1;
  background: $gray-200;
  @include flex-center;
  @include typo-caption1;
}
